<div class="container text-justified">
  <h3>Missão</h3>
  <p><em>Uma empresa não se define pelo nome que tem, define-se pelo esforço e trabalho despendido por todos aqueles que fazem parte dela, os recursos humanos, fornecedores, clientes e todos os outros colaboradores são necessários para o sucesso de qualquer empresa, e Jóia da Europa conta com a ajuda de todos.</em></p>
  <p><b>A nossa missão centraliza-se em:</b></p>
  <br>
  <p>
  <ul>
    <li>Atender às necessidades de todos os nossos clientes, aperfeiçoando sempre os nossos produtos e serviços.</li>
    <li>Fornecer produtos de tal qualidade que os nossos clientes se sintam satisfeitos, e os nossos empregados e parceiros de negócios se beneficiem com nosso êxito.</li>
    <li>Oferecer soluções para qualquer ideia, contando com a nossa assistência.</li>
    <li>Apostar sempre em tecnologias inovadoras.</li>
  </ul>
  </p>

</div>
