<div class="row text-center">
  <div class="col-sm-4">
    <div class="thumbnail">
      <p><strong>Feira em Milão</strong></p>
      <img src=<%= asset_path 'milao.jpg'%> alt="milao">

      <p></p>
      <button class="btn">Ver detalhes</button>
    </div>
</div>
<div class="col-sm-4">
  <div class="thumbnail">
    <p><strong>Nova coleção</strong></p>
    <img src=<%= asset_path"sapato.jpg"%> alt="Nova">


    <button class="btn">Ver detalhes</button>
  </div>
</div>
<div class="col-sm-4">
  <div class="thumbnail">

    <img src=<%= asset_path"parc.jpg"%> alt="Pareceria">

    <p></p>
    <button class="btn">Ver detalhes</button>
  </div>
</div>
</div>
